<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>full form using backend</title>
    style
       include ../static/style.css
</head>
<body>
    
    <nav class="navi">
        <ul>
            <li><a href="./home.html">HOME</a></li>
            <li><a href="">ABOUT</a></li>
            <li><a href="">SERVICES</a></li>
            <li><a href="">LOGIN</a></li>

        </ul>
    </nav>

    <form action="/" method="POST" >
        <input type="text" name="name" placeholder="Enter your name">

        <input type="text" name="number" placeholder="Enter your number">

        <input type="text" name="email" placeholder="Enter your email">

  

        <button class="btn">Submit</button>


    </form>
  
      
</body>
</html>